#bodyStart {
    background-image: url("./img/Rimru\'s\ House.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    margin-top: 10%;
    font-family: Verdana, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: left;
}
#bodyChooseGame{
  background-image: url("./img/ChooseGame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bodyCountNum {
    background-image: url("#");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bodyGemColor {
  background-image: url("#");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bodyGuessShadow {
  background-image: url("#");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bodyEnd {
    /* position: relative; */
    /* margin-top: 24%;
    margin-left: 7%; */
    background-image: url("./img/end.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    /* margin-top: 3%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aStart{
  /* border: black solid 5px; */
  padding: 50px;
  width: 250px;
  margin: auto;
  margin-top: 28%;
}
.aHome{
  /* border: black solid 5px; */
  padding: 50px;
  width: 7px;
  margin-left: 91%;
  border-radius: 60px;
 
}
.aHomeCount{
  position: absolute;
  /* border: red solid 5px; */
  padding: 50px;
  width: 7px;
  margin-bottom: 31.3%;
  margin-left: 90%;
  border-radius: 60px;
 
}
.aHomeSD{
  position: absolute;
  /* border: green solid 5px; */
  padding: 50px;
  width: 9px;
  margin-top: 9.5%;
  margin-left: 90%;
  border-radius: 60px;
}
.aMenu{
  /* border: black solid 5px; */
  padding: 50px;
  width: 7px;
  margin-top: 1%;
  margin-left: 91%;
  border-radius: 60px;
 
}
.aMenuCount{
  position: absolute;
  /* border: red solid 5px; */
  padding: 50px;
  width: 7px;
  margin-bottom: 14%;
  margin-left: 90%;
  border-radius: 60px;
 
}
.aMenuSD{
  position: absolute;
  /* border: red solid 5px; */
  padding: 50px;
  width: 7px;
  margin-top: 26%;
  margin-left: 90%;
  border-radius: 60px;
 
}
.abtnYes{
  border: black solid 5px;
  padding: 50px;
  width: 7px;
  margin-top: 1%;
  margin-left: 91%;
  border-radius: 60px;
  cursor: pointer;
}
.aSizeCS{
  /* position: absolute; */
  /* border: black solid 5px; */
  padding: 140px;
  width: 15px;
  border-radius: 150px;
  margin-left: 12%;
  margin-top:24%;
}
.aSizeCS1{
  position: absolute;
  /* border: red solid 5px; */
  padding: 140px;
  width: 15px;
  border-radius: 150px;
  margin-left: 40%;
 
  margin-top:24%;
}
.aSizeCS2{
  position: absolute;
  /* border: green solid 5px; */
  padding: 140px;
  width: 15px;
  border-radius: 150px;
  margin-left: 68%;
  margin-top:30%;
}

#posRimuruStart{
    position: absolute;
    width: 300px;
    top: 70%;
    /* top: 56.5%; */
    right: 50%;
    left: 50%;
}
#posRimuruCountNum{
    position: absolute;
    width: 280px;
    top: 49.5%;
    right: 64%;
}
#posRimuruEnd{
    position: absolute;
    width: 270px;
    right: 32%;
    top: 68.5%;
    /* margin-top: 25%; */
    /* margin-top: 40%; */
    /* bottom: 0.1%; */
    /* top: 69%; */
    /* right: 40%; */
    /* margin-top: 40%; */
    /* margin-right: 40%; */
}
#headCount{
    text-align: center;
    font-family: Verdana, sans-serif;
    color: black;
    background-color: white;
    border: black solid;
    border-radius: 12px;
    width: 50%;
    padding: 10px;
    margin: auto;
}
#txtInput{
    position: absolute;
    text-align: center;
    font-size: medium;
    /* padding: 15px; */
    color: black;
    background-color: white;
    border: black solid;
    border-radius: 12px;
    width: 15%;
    height: 7%;
    font-size: 24pt;
    margin-top: 34%;
    margin-left:60.5%;
}

#btnAgain1{
  position: absolute;
  width: 12%;
  margin-left: 43.5%;
  margin-top: 20%;
}
#btnAgain2{
  position: absolute;
  width: 12%;
  margin-left: 14.5%;
  margin-top: 40%;
}
.divChoose{
    text-align: center;
    position: absolute;
    width: 500px;
    height: 420px;
}
.divText{
    position: absolute;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border: black solid 3px;
    border-radius: 12pt;
    width: 15%;
    margin-bottom: 35%;
    margin-left: 60%;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.836);
}
.divTextGem{
  position: absolute;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border: black solid 3px;
  border-radius: 12pt;
  width: 15%;
  margin-bottom: 7%;
  margin-left: 60%;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.836);
}
.divTextSD{
  position: absolute;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border: black solid 3px;
  border-radius: 12pt;
  width: 15%;
  margin-top: 40%;
  margin-left: 17%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.836);
}
.divbtnYes{
  position: absolute;
  /* border: black solid 5px; */
  position: absolute;
  width: 82px;
  border-radius: 80px;
  cursor: pointer;
  margin-top: 45%;
  margin-left: 62.6%;
  /* height: 50px; */
}
.divbtnNo{
  position: absolute;
  /* border: black solid 5px; */
  position: absolute;
  width: 80px;
  border-radius: 80px;
  cursor: pointer;
  margin-top: 45%;
  margin-left: 69%;
  /* height: 50px; */
}
.divbtnNext{
  position: absolute;
  /* border: black solid 5px; */
  position: absolute;
  width: 75px;
  border-radius: 80px;
  cursor: pointer;
  margin-top: 35%;
  margin-left: 77%;
}
.divBG{
    position: absolute;
    text-align: center;
    margin-left: 50%;
    /* margin: auto; */
    /* position: absolute; */
    width: 550px;
    height: 420px;
    /* padding: 180px; */
    background-color: rgba(255, 255, 255, 0.63);
    /* border: black solid; */
    /* border-style: dashed ; */
    border-radius: 50pt;
    /* margin-top: 20%;
    margin-left: 8%; */
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.836);
  }
  .divBGGem{
    position: absolute;
    text-align: center;
    /* position: absolute; */
    width: 600px;
    height: 500px;
    margin-top: 49%;
    /* padding: 180px; */
    /* background-color: rgba(255, 255, 255, 0.356); */
    /* border: black solid; */
    /* border-style: dashed ; */
    /* margin-left: 2%; */
    /* margin-right: auto; */
    /* border-radius: 50pt; */
    /* margin-top: 40%;
    margin-left: 40%; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  }
  .divBGSD{
    text-align: center;
    position: absolute;
    width: 500px;
    height: 420px;
    /* background-color: rgba(255, 255, 255, 0.356); */
    /* border: black solid; */
    /* border-style: dashed ; */
    
    border-radius: 50pt;
    margin-top: 75%;
    margin-left: 0.9%;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  }
  .divBGSD1{
    /* text-align: center; */
    position: absolute;
    width: 800px;
    height: 400px;
    /* padding: 180px; */
    /* background-color: rgba(255, 255, 255, 0.356); */
    /* border: black solid; */
    /* border-style: dashed ; */
    /* margin-left: 45%; */
    border-radius: 50pt;
    
    /* margin-top: 40%; */
    margin-left: 45%;
    margin-top: 80%;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  }
.divItem{
  /* object-fit: contain;
  max-width: 100%;
  height: 100%; */
  /* padding: 2px; */
    width: 250px;
    height: 400px;
}
.abtnHome{
    margin-left: 87%;
}
#btnExit{
    margin-left: 90%;
    margin-top: 5%;
}
.tableCS{
  margin: auto;
  width: 50%;
  margin-top: 10%;
  text-align: center;
}
.tdCs{
  padding: 30px;
}
.imgCSStart{
  margin-top: 17%;
  width: 300px;
}
.imgCS{
  width: 300px;
}
.tableGemC{
  position: absolute;
  margin-top: 63% ;
  margin-left: 52%;
  width: 22%;
  font-size: 34pt;
  text-align: center;
}
.tdGemC{
  padding: 15px ;
}
.tdBtnColor{
  cursor: pointer;
  text-align: center;
  width: 150px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.443);
}
.tableGS{
  margin: auto;
  /* width: 50%; */
  /* margin-top: 5%; */
  text-align: center;
}
.opSD{
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: medium;
    padding: 10px;
    color: black;
    background-color: white;
    border: black solid;
    border-radius: 12pt;
    width: 15%;
    margin-left: 12%;
    /* margin: auto; */
}
.pFruit{
  /* border: #0066ff solid 5px; */
  position: absolute;
  text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 24pt;
}
#imgObj{
  
  /* margin: auto; */
    /* float: left; */
    object-fit: contain;
    max-width: 100%;
    height: 100%;
  
    /* position: absolute; */
    /* width: 275px; */

    /* top: 32%;
    right: 65%; */
}
.imgObjSD{
    cursor: pointer;
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}
.imgObjYes{
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}
.imgObjNext{
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}
#sound{
    margin-left: 57%;
}
#btnHome{
  margin-left: 57%;
  margin-top: 35% ;
    
}
#btnHomeCS{
  margin-right: 5%;    
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgba(37, 161, 37, 0.66);
  color: whitesmoke;
  border-color: white ;
}
.btnQ{
  background-color: rgba(255, 255, 255, 0);
  /* border: 0px; */
}
/* #btnStart{
    
} */

/* #titleText{
    
    left: 30%;
    color: white;
} */
:root {
    /* --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352; */
    
    /* --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5; */
    --color-primary: #fff;
    --color-secondary: #99ccff;
    --color-tertiary: #6699ff;
    --color-quaternary: #3399ff;
    --color-quinary: #0066ff;
   
  }
/* body {
    margin-top: 5%;
    /* min-height: 200vh; */
    /* font-family: Verdana, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: left;
    /* overflow: hidden; */
  /* }  */
  button {
    width: 120px;
    height: 50px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-color: gray;
    margin: auto;
    font-size: 30px;
    border-radius: 12px;
} 
.close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

